*{
    margin:0;
}

.nav{
    background-color: crimson;
    height: 6vh;
    padding-left: 25vw;
    padding-right: 25vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav > div{
    cursor: pointer;
}



.gridContainer{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.mainContent{
    display: flex;
    flex-direction: column;
}


.header{
    display: flex;
    justify-content: center;
}